*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* main website */
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/ocean.jpeg);
    filter: blur(2px); /* Adjust the blur amount as needed */
    background-size: cover;
    background-position: center;
    z-index: -1; /* Ensure the background image is behind the content */
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

/*color of text makes normal */
nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

/* hover color*/
nav ul li a:hover{
    color: red;
}

/* margin for name n stuff */
.descr{
    margin-left: 4%;
    margin-top: 1%;
}


.descr h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

/*color and style of span tag (Greenwald)*/
span{
    color: rgb(0, 255, 213)
}

/* style for "Im a computer sicnece.." */
.descr p{
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 20px; 
    color: white;
    font-weight: 400;
    line-height: 25px;
    font-size:larger;
    max-width: 80%; /* Adjust the maximum width as needed */
}

.descr a {
    background-color: #000a49;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px 0;
    padding: 10px 18px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}

.descr a:hover {
    background-color: #000000; 
}

/* style for github button */
.descr c{
    background: #d58b42c4;
    padding: 5px 9px;
    text-decoration: none;
    font-weight: normal;
    color: #fff;
    display: inline-block;
    margin: 5px 0;
    border-radius: 5px;
}

.images{
    width: auto;
    height: 13%;
    position: relative;
    bottom: 100px;
    left: 30%;
}

.images img{
    height: 100%;
    position: absolute;
    /* left: 100%; */
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images .htmli{
    left: -110px;
    bottom: -100px
}

.images .cssi{
    left: 0px;
    bottom: -100px

}

.images .javai{
    left: 220px;
    bottom: -100px

}

.images .cppi{
    left: 330px;
    bottom: -100px

}

.images .pythoni{
    left: 440px;
    bottom: -100px

}

.images:hover .htmli{
    bottom: 10%;
}

.images:hover .cssi{
    bottom: 10%;
}

.images:hover .javai{
    bottom: 10%;
}

.images:hover .cppi{
    bottom: 10%
}

.images:hover .pythoni{
    bottom: 10%
}

/*Picture of me*/
.portrait {
    width: 20%;
    height: 20%;
    position: relative;
    border-radius: 30px; /* Adjust the value to change the roundness */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1); /* Adjust the values to change the shadow */
}

/*top buttons animation */
.b1{
    width: 200px;
    height: 60px;
    border: none;
    color: white;
    background-color: rgb(125, 173, 245);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 rgb(33, 89, 255);
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.b1:hover {
    box-shadow: inset 200px 0 0 0 rgb(33, 89, 255);
}

.project-descr{
    margin-left: 8%;
    margin-top: 1%;
}

.project-descr p{
    color: white;
    line-height: 25px;
    font-size:x-large;
}






.hero2{
    position: relative;
    width: 100%;
    height: 100vh;

    /*background image */
    background-image: url(images/ocean2.jpeg);
    background-size: cover;
    background-position: center;
}

.b2{
    width: 200px;
    height: 60px;
    border: none;
    color: white;
    background-color: rgb(205, 107, 146);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 rgb(255, 140, 33);
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
}

.b2:hover {
    box-shadow: inset 200px 0 0 0 rgb(255, 140, 33);
}

.project-descr a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.project-descr c{
    background: #d58b42c4;
    padding: 5px 9px;
    text-decoration: none;
    font-weight: normal;
    color: #fff;
    display: inline-block;
    margin: 5px 0;
    border-radius: 5px;
}





.hero3{
    position: relative;
    width: 100%;
    height: 100vh;

    /*background image */
    background-image: url(images/creek.jpeg);
    background-size: cover;
    background-position: center;
}

.b3{
    width: 200px;
    height: 60px;
    border: none;
    color: white;
    background-color: rgb(74, 140, 65);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 rgb(33, 159, 255);
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
}

.b3:hover {
    box-shadow: inset 200px 0 0 0 rgb(33, 159, 255);
}

.contact-descr a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.contact-descr{
    margin-left: 8%;
    margin-top: 1%;
}

.contact-descr p{
    color: rgb(255, 255, 255);
    line-height: 25px;
    font-size:x-large;
}

