*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* main website */
.hero{
    position: relative;
    width: 100%;
    height: 100vh;

    /*background image */
    background-image: url(Ocean.jpeg);
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

/*color of text makes normal */
nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

/* hover color*/
nav ul li a:hover{
    color: red;
}

/* margin for name n stuff */
.descr{
    margin-left: 8%;
    margin-top: 1%;
}

.descr h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

/*color and style of span tag (Greenwald)*/
span{
    color: rgb(0, 255, 213)
}

/* style for "Im a computer sicnece.." */
.descr p{
    color: white;
    line-height: 25px;
    font-size:larger;
}

/*style for download resume button */
.descr a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    width: 40%;
    height: 40%;
    position: absolute;
    bottom: 10px;
    right: 0px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape{
    bottom: 40px;

}

.images:hover .girl{
    left: 30%
}

/*Picture of me*/
.portrait {
    width: 20%;
    height: 20%;
    position: relative;
}


/*top buttons animation */
.b1{
    width: 200px;
    height: 60px;
    border: none;
    color: white;
    background-color: rgb(125, 173, 245);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 rgb(33, 89, 255);
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
}

.b1:hover {
    box-shadow: inset 200px 0 0 0 rgb(33, 89, 255);
}

.project-descr{
    margin-left: 8%;
    margin-top: 1%;
}

.project-descr p{
    color: white;
    line-height: 25px;
    font-size:x-large;
}






.hero2{
    position: relative;
    width: 100%;
    height: 100vh;

    /*background image */
    background-image: url(ocean2.jpeg);
    background-size: cover;
    background-position: center;
}

.b2{
    width: 200px;
    height: 60px;
    border: none;
    color: white;
    background-color: rgb(205, 107, 146);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 rgb(255, 140, 33);
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
}

.b2:hover {
    box-shadow: inset 200px 0 0 0 rgb(255, 140, 33);
}

.project-descr a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}





.hero3{
    position: relative;
    width: 100%;
    height: 100vh;

    /*background image */
    background-image: url(creek.jpeg);
    background-size: cover;
    background-position: center;
}

.b3{
    width: 200px;
    height: 60px;
    border: none;
    color: white;
    background-color: rgb(74, 140, 65);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 rgb(33, 159, 255);
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
}

.b3:hover {
    box-shadow: inset 200px 0 0 0 rgb(33, 159, 255);
}

.contact-descr a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.contact-descr{
    margin-left: 8%;
    margin-top: 1%;
}

.contact-descr p{
    color: rgb(255, 255, 255);
    line-height: 25px;
    font-size:x-large;
}